/* 
font-family: 'merriweather', serif;
font-family: 'montserrat', sans-serif;
font-family: 'open sans', sans-serif;
font-family: 'raleway', sans-serif; */

.body {
  min-height: 100vh;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  color: #373a39;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  position: relative;
  align-self: flex-start;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: bold;
  letter-spacing: 1.65px;
  text-transform: capitalize;
  color: #242121;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 4px;
  background-color: #fcbb08;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  align-self: baseline;
}

.menu {
  padding: 38px 0;
}

.menu__list {
  display: flex;
}

.menu__item:not(:first-child) {
  margin-left: 17px;
}

.menu__link {
  padding: 0 8px 10px;
  font-family: 'raleway', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-decoration: none;
  text-transform: uppercase;
  color: #373a39;
  border-bottom: 1px solid transparent;
  transition: all .5s ease-in;
}

.menu__link:hover {
  border-bottom: 1px solid #fcbb08;
}

.header__content {
  font-family: 'Montserrat', sans-serif;
  background: url('../images/bg.jpg') center/cover no-repeat;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 94px);
  text-transform: uppercase;
}

.header__title {
  margin-top: auto;
  margin-bottom: 18px;
  padding-top: 150px;
  font-weight: 500;
  font-size: 72px;
  line-height: 1.2;
  color: #ffffff;
}

.header__subtitle {
  margin-bottom: auto;
  font-size: 16px;
  line-height: 1.3;
  font-weight: bold;
  letter-spacing: 2.7px;
  color: #fcbb08;
}

.header__icon-link {
  margin-bottom: 62px;
  transition: transform .2s ease-in;
}

.header__icon-link:hover {
  transform: scale(1.1);
}

/* === / header === */

/* === about === */
.about {
  background-color: #f6f8fa;
  padding: 150px 0 130px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-size: 48px;
  padding-left: 20px;
}

.about__text {
  max-width: 770px;
}

.about__text p {
  margin-bottom: 20px;
}

/* === / about === */

/* === expertise === */
.expertise {
  padding: 140px 0 160px 0;
}

.expertise__title {
  padding-top: 68px;
  padding-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.3;

}

.expertise__inner {
  display: flex;
  justify-content: space-between;
  padding: 85px 0 95px 20px;
}

.expertise__info {
  flex: none;
  width: 370px;
  margin-right: 30px;
}

.expertise__text {
  margin-top: -10px;
}

.expertise__info-item {
  position: relative;
  padding: 7px 0 22px;
  font-size: 11px;
  line-height: 1.8;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1d1d1d;
  border-top: 2px solid #1d1d1d;
}

.expertise__info-item span {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding-top: 4px;
}

.expertise__info-item span::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -7px;
  width: 100%;
  height: 2px;
  background-color: #f0f0f0;
}

.expertise__text p {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  color: #373a39;
}

.expertise__items {
  display: flex;

}

.expertise__item {
  position: relative;
  margin-right: 30px;
  padding-left: 108px;
}

.expertise__item::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 25px;
  width: 50px;
  height: 50px;
}

.expertise__item--design::before {
  background-image: url('../images/design.svg');
}

.expertise__item--web::before {
  background-image: url('../images/monitor.svg');
}

.expertise__item--marketing::before {
  background-image: url('../images/speaker.svg');
}

.expertise__item-title {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 4.29px;
  text-transform: uppercase;
  color: #333333;
}

.expertise__item-text {
  color: #777777;
}

/* === / expertise === */

/* === magic === */
.magic {
  background-image: url("../images/magic-bg.jpg");
  background-color: #f6f8fa;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left 82%;
}

.magic__inner {
  max-width: 470px;
  margin-left: auto;
  padding: 120px 0 220px;
}

.magic__title {
  margin-bottom: 60px;
}

.magic__text p {
  margin-bottom: 25px;
  max-width: 470px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  color: #373A39;
}

/* === / magic === */


/* === portfolio === */
.portfolio {
  padding: 126px 0 165px;
}

.portfolio__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.portfolio__menu {
  margin-right: 65px;
}

.menu__btn {
  font-family: 'Open sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  color: #333333;
  cursor: pointer;
  transition: border-bottom-color 0.2s ease-in, color 0.2s ease-in, outline-color 0.2s ease-in;
}

.menu__btn:hover {
  color: #FCBB08;
}

.menu__btn:focus {
  outline-color: #FCBB08;
}

.mixitup-control-active {
  border-bottom-color: #FCBB08;
}

.portfolio__content {
  margin-bottom: 50px;
  column-count: 4;
  column-gap: 22px;
}

.portfolio__item {
  position: relative;
  margin-bottom: 22px;
}

.portfolio__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.4px;
  text-decoration: none;
  color: #FFFFFF;
  border: 12px solid #7c7a7a;
  background-color: #4c4949;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.portfolio__item:hover .portfolio__link {
  opacity: 0.9;
}

.portfolio__image {
  width: 100%;
}

.portfolio__more {
  display: block;
  padding: 41px 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.2px;
  color: #242121;
  background-color: #f6f8fa;
  transition: color 0.2s, background-color 0.2s;
}

.portfolio__more:hover {
  color: #fff;
  background-color: #c5c5c5;
}

.blockquote {
  display: block;
  max-width: 650px;
  margin: 0 auto;
  padding: 130px 0 150px;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
  color: #242121;
}

.blockquote span {
  display: block;
  padding-top: 50px;
  font-size: 14px;
  line-height: 2.3;
  color: #9E9E9E;
}

.portfolio__video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 325px;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio__play-icon {
  transition: transform 0.2s ease-in;
}

.portfolio__video:hover .portfolio__play-icon {
  transform: scale(1.2);
}

.portfolio__numbers {
  padding: 165px 0;
}

.portfolio__list {
  display: flex;
  justify-content: center;
}

.portfolio__num {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.2;
  color: #242121;
}

.portfolio__num span {
  display: block;
  font-family: 'Open sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
}

.portfolio__num:not(:last-child) {
  margin-right: 190px;
}

/* === / portfolio === */